<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
    
    .us{
        position: relative;
    left: 283px;
}

    .tx{
        width: 56%;
    text-align: center;
    position:relative;
    left: 364px;
    font-weight: normal;
    font-size: large;
    color: oldlace;
}
.ab{
    position: relative;
    left: 120px;
    top: 20px;
}
.on{
   position: absolute;
   bottom: 530px;
   color: white; 

}
   
.my{
    position: relative;
            /* text-align: center; */

            
}

        </style>
</head>
<body>

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="#" class="logo">travel</a>

        <nav class="navbar">
            <div id="close-navbar" class="fas fa-times"></div>
            <a href="/index">home</a>
            <a href="index.html">about</a>
            <a href="index.html">services</a>
            <a href="index.html">packages</a>
            <a href="index.html">gallery</a>
            <a href="index.html">review</a>
        </nav>

        <!-- <a href="#book" class="btn"> book now</a> -->

    </header>
<div class="my">
    <img src="aboutus.jpg" alt="" style=" bottom: 20px; left: 0; width: 100%; height:0%; object-fit: cover; z-index: -1; filter: brightness(50%);">


 <div class="on">
    <div class="ab" style="font-size: 72px; font-weight: bold;">
        About 
    </div>
    <div class="us" style="font-size: 65px; font-weight: bold;">
        Travelo...
    </div>

    <div class="tx" style="animation: fadeIn 5s ease-in-out;">
       <p>
        Immerse Yourself in the Art of Exploration with Us. At TRAVELO.., our mission is to craft unique and enriching travel experiences for every adventurer. Driven by a passion for discovery, we invite you to join us on journeys where each destination transforms into a captivating chapter of your travel story.</p> 
        <p>
        We believe that travel is more than just visiting new places; it’s about creating lasting memories, embracing diverse cultures, and finding inspiration in the world’s wonders. Our dedicated team of travel enthusiasts works tirelessly to design personalized itineraries tailored to your interests and preferences, ensuring every trip becomes a once-in-a-lifetime experience.</p> 
        <!-- <p>
        Whether you’re seeking the adrenaline rush of adventure, the peace of tranquil landscapes, or the deep connections found in historical and cultural exploration, we offer something for everyone. From the vibrant energy of bustling cities to the serene beauty of hidden gems, our diverse range of destinations is curated to captivate your heart and soul.
       </p>-->
        <p> 
        Join us as we uncover the wonders of the world, one journey at a time. Let us be your trusted guide in revealing the beauty and magic of each destination. Together, we’ll create unforgettable stories and memories that you’ll cherish for a lifetime.</p> 

    </div>

    <!-- <style>
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    </style> -->

</div>   

<section class="footer ftr">

    <div class="box-container">

        <div class="box">
            <h3>contact<br>
            <a href="#"> <i class="fas fa-phone"></i> +123-4567-8912</a>
            <a href="#"><i class="fas fa-envelope"></i> mahirpatel1426@gmail.com</a>
            <a href="#"><i class="fas fa-map"></i> mehsana,gujrat,india</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"><i class="fas fa-arrow-right"></i> popular destinations</a>
            <a href="#"><i class="fas fa-arrow-right"></i> popular destinations</a>
            <a href="#"><i class="fas fa-arrow-right"></i> popular destinations</a>
            <a href="#"><i class="fas fa-arrow-right"></i> popular destinations</a>
        </div>

        <!-- <div class="box">
            <h3>travel resources</h3>
            <a href="#"><i class="fas fa-arrow-right"></i> travel guide</a>
            <a href="#"><i class="fas fa-arrow-right"></i> travel guide</a>
            <a href="#"><i class="fas fa-arrow-right"></i> travel guide</a>
            <a href="#"><i class="fas fa-arrow-right"></i> travel guide</a>
        </div> -->

        <div class="box">
            <h3>legal information</h3>
            <a href="#"><i class="fas fa-arrow-right"></i> terms and conditions</a>
            <a href="#"><i class="fas fa-arrow-right"></i> terms and conditions</a>
            <a href="#"><i class="fas fa-arrow-right"></i> terms and conditions</a>
            <a href="#"><i class="fas fa-arrow-right"></i> terms and conditions</a>
        </div>

    </div>

    

</section>
</body>

</html>