<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <div id="menu-btn" class="fas fa-bars"></div>

      <a href="#" class="logo">travel</a>

      <nav class="navbar">
        <div id="close-navbar" class="fas fa-times"></div>
        <a href="/index">home</a>
        <a href="index.html">about</a>
        <a href="index.html">services</a>
        <a href="index.html">packages</a>
        <a href="index.html">gallery</a>
        <a href="index.html">review</a>
      </nav>

      <!-- <a href="#book" class="btn"> book now</a> -->
    </header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <section class="book" id="book">
      <div class="row">
        <form action="">
          <div class="inputBox">
            <h3>where to</h3>
            <input type="text" placeholder="place name" />
          </div>
          <div class="inputBox">
            <h3>how many</h3>
            <input type="text" placeholder="number of guests" />
          </div>
          <div class="inputBox">
            <h3>arrivals</h3>
            <input type="date" />
          </div>
          <div class="inputBox">
            <h3>leaving</h3>
            <input type="date" />
          </div>
          <div class="inputBox">
            <h3>Email</h3>
            <input type="text" placeholder="personal Email" />
          </div>
          <input type="submit" value="book now" class="btn" />
        </form>
      </div>
    </section>
  </body>
</html>
